body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    color: #000000;
    background: #f3f0e9;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.375rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3, .eyebrow {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    line-height: 1.167;
    text-transform: uppercase;
}

.eyebrow {
    font-size: 1.25rem;
    color: #d69e3d;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: #000000;
    position: relative;
}

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.skip-links a{
    position: absolute;
    z-index: 9999;;
    top: -3em;
    background-color: #000000;
    color: #d69e3d;
    opacity: 0;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.skip-links a:focus{
    top: 0;
    opacity: 1;
}

#hero {
    position: absolute;
}
#navbar {
    position: absolute;
    z-index: 1;
}
#navbar .container {
    display: flex;
    flex-direction: row;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #f5ede4;
    cursor: pointer;
    padding: 0.4rem;
}
@media (max-width: 767px) {
    .nav-menu { display: none; }
    .menu-toggle { display: block; }
}

/* TESTIMONIALS */

#testimonials {
    background-color: #000000;
}

/* FOOTER */

footer {
    background-color: #000000;
}
footer .container {
    color: #ffffff;
    text-align: center;
    border-top: thin solid #ffffff;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.375rem;
    }

    h3 {
        font-size: 1.75rem;
    }
}

@media (min-width: 1440px) {
    h1 {
        font-size: 3.875rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }
}