:root {
    --max-width: 1200px;
    --white: #ffffff;
    --black: #000000;
    --gold: #d69e3d;
    --brown: #966f2c;
    --cream: #f3f0e9;
}

html {
    font-size: 16px;
    display: block;
}
body {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    color: var(--black);
    background: var(--cream);
}

*, *::before, *::after {
    box-sizing: inherit;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.375rem;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}
h1, h2, h3, .eyebrow, .nav-menu, .link-button {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    line-height: 1.167;
    text-transform: uppercase;
}
.eyebrow {
    font-size: 1.25rem;
    color: var(--gold);
}
.link-button {
    font-size: 1.25rem;
    padding: 1rem 2rem;

}
.container {
    max-width: var(--max-width);
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: var(--black);
    position: relative;
}

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.skip-links a{
    position: absolute;
    z-index: 9999;;
    top: -3em;
    background-color: var(--black);
    color: var(--gold);
    opacity: 0;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.skip-links a:focus{
    top: 0;
    opacity: 1;
}

/* NAVIGATION */

.navbar {
    position: absolute;
    width: 100vw;
    z-index: 2;
    padding: 1rem;
    border-bottom: thin solid #ffffff7f;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar .logo {
    flex-grow: 1;
}
.nav-menu {
    display: none;
}
.menu-toggle {
    display: block;
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    padding: 0.5rem;
}

/* HERO */

#hero {
    
}
#hero img {
    position: relative;
    width: 100%;
}
#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hero-text {
    color: white;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#hero-text .link-button {
    color: var(--black);
    background-color: var(--white);
}

/* WELCOME */



/* TESTIMONIALS */

#testimonials {
    background-color: var(--black);
}
#testimonials ul {
    display: flex;
}

/* FOOTER */

footer {
    background-color: var(--black);
}
footer .container {
    color: var(--white);
    text-align: center;
    border-top: thin solid #ffffff7f;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.375rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    .navbar {
        width: 100vw;
    }
    .nav-menu {
        display: block;
        font-size: 1rem;
    }
    .nav-menu ul {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }
    .nav-menu a {
        color: var(--white);
        text-decoration: none;
        text-decoration-color: transparent;
        transition: text-decoration 0.25s ease-in-out;
    }
    .nav-menu a:visited {
        color: var(--white);
    }
    .nav-menu a:hover {
        text-decoration: underline;
        text-decoration-color: var(--white);
    }
    .menu-toggle {
        display: none;
    }

    #hero img {
        height: 80vh;
        object-fit: cover;
    }    
    #hero-text {
        width: 75%;
    }
}

@media (min-width: 1440px) {
    h1 {
        font-size: 3.875rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .navbar {
        width: var(--max-width);
    }
    .nav-menu {
        display: block;
        font-size: 1rem;
    }
    .nav-menu ul {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }
    .nav-menu a {
        color: var(--white);
        text-decoration: none;
        text-decoration-color: transparent;
        transition: text-decoration 0.25s ease-in-out;
    }
    .nav-menu a:visited {
        color: var(--white);
    }
    .nav-menu a:hover {
        text-decoration: underline;
        text-decoration-color: var(--white);
    }
    .menu-toggle {
        display: none;
    }

    #hero img {
        height: 110vh;
        object-fit: cover;
    }
    #hero-text {
        width: 50%;
    }
}